.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0.25turn, hsl(110, 61%, 25%), hsl(210, 61%, 25%));
  height: 56px;
  transition: 2s;
}
.toolbar:hover {
  filter: hue-rotate(90deg);
}

.toolbarNavigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbarLogo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.spacer {
  flex: 1;
}

.toolbarNavigationItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbarLogo {
  margin-left: 1rem;
}

.toolbarNavigationItems li {
  cursor: pointer;

  padding: 0 0.5rem;
}
.toolbarNavigationItems a {
  color: #fff;
  text-decoration: none;
  transition: 0.13s;
}

.toolbarNavigationItems a:hover,
.toolbarNavigationItems a:active {
  color: black;
}

@media (max-width: 768px) {
  .toolbarNavigationItems {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbarToggleButton {
    display: none;
  }

  .toolbarLogo {
    margin-left: 0;
  }
}
